input.search {
  position: absolute;
  left: 0.6em;
  right: 0.6em;
  top: 0.2em;
  font-size: 2em;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
}

ul {
  position: absolute;
  left: 0;
  right: 0;
  top: 5em;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  overflow-x: hidden;
  padding: 0.3em;
}
ul::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

li {
  display: block;
  width: 100%;
}

button {
  width: calc(100% - 1.2em);
  border-radius: 0.1em;
  margin: 0.2em 0.6em;
  padding-bottom: 0.3em;
  font-size: 2em;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  cursor: default;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15%;
}

.empty-space {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15%;
}

.menu-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  transition: left 200ms;
}

.menu-container-container-enter {
  left: -100%;
  transition: left 200ms;
}

.menu-container-enter-active {
  left: 0;
  transition: left 200ms;
}

.menu-container-enter-done {
  left: 0;
  transition: left 200ms;
}

.menu-container-exit {
  left: 0;
  transition: left 200ms;
}

.menu-container-enter-active {
  left: -100%;
  transition: left 200ms;
}

.menu-container-exit-done {
  left: -100%;
  transition: left 200ms;
}