ul {
  transition: width 0.5s;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0.3em;
}
ul::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

li {
  display: block;
  width: 100%;
}

button {
  width: calc(100% - 1.2em);
  margin: 0.2em 0.6em;
  padding: 0.3em;
  font-size: 2em;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  cursor: default;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  transition: left 200ms;
}

.menu-enter {
  left: -100%;
  transition: left 200ms;
}

.menu-enter-active {
  left: 0;
  transition: left 200ms;
}

.menu-enter-done {
  left: 0;
  transition: left 200ms;
}

.menu-exit {
  left: 0;
  transition: left 200ms;
}

.menu-enter-active {
  left: -100%;
  transition: left 200ms;
}

.menu-exit-done {
  left: -100%;
  transition: left 200ms;
}